*{
    margin: 0;
    padding: 0;
}

html, body{
    margin: 0;
    height: 100%;
}

body{
    min-height: 100vh;
    background:         linear-gradient(#22f0ff, #2661d7);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container{
    display: flex;
    gap: 40px;
}

h1{
    font-family: "Bungee", sans-serif;
    font-size: 50px;
    margin: 50px 0;
}

.paint-container{
    border: 1px solid black;
    width: 35rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.row-div{
    display: flex;
    flex: row;
    flex: 1;
}

.paint-wall{
    flex: 1;
    width: 100%;
    height: 100%;
}

h2{
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.tools{
    border: 1px solid rgb(136, 135, 135);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
}

.color{
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.color-choice{
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
}

.range-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.option{
    border-radius: 15px;
    height: 50px;
    font-size: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.draw-tools{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.tool-choice{
    width: 50px;
    height: 50px;
    border: 4px solid lightslategrey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: transform 0.3s ease, background-color 0.3 ease;
}

.pencil.active{
    background-color: grey;
}

.eraser.active{
    background-color: grey;
}

.tool-choice.active{
    background: grey;
    transform: scale(1.1);
}

.clean:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
}

.random:hover{

    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    transform: scale(1.1);
}

.random.active{
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}